.sub {
    background-color: #eb752f; 
    padding: 2%;
}
.sub2 {
    background-color: #a5bb2a;
    padding: 2%;
}
h1 {
    background-color: #012d5a;
    color: #efe7dc;
    padding: 5%;
    border: #eb752f solid 7px;
    border-style: double;
    border-radius: 15px;
}
body {
    background-color: #efe7dc;
}

/* CONTACT PAGE STYLES ======================= */

.contact-image {
    padding: .5em;
    border: 1px solid #012d5a;
}   
    
    fieldset {
    border: none;
}

input {
    width: 15%;
}

.notice-button {
    color: #012d5a;
    background-color: #a5bb2a;
    font-size: 2em;
    padding: .5em;
    text-align: center;
    width: 15%;
    border: 5px solid #012d5a;
  }

  
  
p {

}

nav li {
    display: inline;
}
nav li{
    border: #a5bb2a;
}

